<div id="mapTopBar">
    <span id="mapTitle">
        <img src="img/tricycle96x96.png" />
        <span class="company-name">Yourloco</span>
    </span>

    <span id="downloadApp">
        <a href="/">Download App</a>
    </span>
</div>

<!-- Map Section -->
<div id="overlay">
    <span id="overlayText"></span>
</div>

<leaflet defaults="defaults" center="center" markers="markers"></leaflet>

<div id="chat">
    <div id="messageList" chat-scroll="chat.messages">
        <div class="message" ng-repeat="message in chat.messages track by $index">
            <div class="avatar" ng-class="me(message) ? 'me' : 'you'">
                <img src="img/webuseravatar.png" />
                <div class="name">{{message.name}}</div>
            </div>
            <div class="bubble" ng-class="me(message) ? 'me' : 'you'">
                <div class="chat-text">{{message.message}}</div>
                <div class="timestamp" am-time-ago="message.time"></div>
            </div>
        </div>
    </div>
    <div id="chatInput">
        <input type="text" class="textField" ng-model="chat.text" ng-enter="sendMessage()"/>
        <button ng-click="sendMessage()">Send</button>
    </div>
</div>
