//$standard-background-color: #a53563;
$standard-background-color: #4E4E4E;

$standard-light-color: #f8f8f8;
$standard-dark-color: #404040;

//$team-pink-color: #fc68d2;
//$team-blue-color: #539bf2;
$team-blue-color: #3974aa;

$team-pink-color: #e07db2;
$team-pink-color: #de5ea3;


$white: #ffffff;
$clock-grey: #bbbdbf;
$standard-text-color: #231f20;
$grey-text-color: #5d5e60;

$connect-background: $white;
$settings-background: #e7e7e7;
$like-color: #d84a65;
